@import "tailwindcss";

:root {
  --background: #F8F7F4;
  --foreground: #1F1F1F;

  --card: #FFFFFF;
  --border: #E6E1D9;

  --muted: #6E6A63;

  --accent: #8A9B84;
  --accent-hover: #98A892;

  --success: #7D9B74;
  --shadow: rgba(20, 20, 20, 0.08);
}

html,
body {
  font-family: var(--font-geist-sans);
  margin: 0;
  padding: 0;
  min-height: 100%;
  scroll-behavior: smooth;

  background:
  radial-gradient(
    circle at top left,
    rgba(138,155,132,.10),
    transparent 35%
  ),
  radial-gradient(
    circle at bottom right,
    rgba(111,135,157,.08),
    transparent 40%
  ),
  var(--background);

  color: var(--foreground);
}

/* Hide horizontal scrollbar */

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}